.header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #243119;
    padding-bottom: 64px;
}

ul li {
    display: inline;
    margin: 8px
}

body {
    flex-direction: column;
    display: flex;
    padding: 0 128px;
    background-color: #FFFFFF;
}

h1,
h2 {
    color: white;
}

h2 {
    display: flex;
    justify-content: center;
}

.content1 {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    padding-bottom: 64px;
    background-color: #243119;
}

.content1 p {
    color: beige;
}

.placeholder-image {
    display: flex;
    align-items: center;
    border: 16px Double red;
    margin: 24px;
    margin-right: 0;
    padding: 8px;
    text-align: center;
    justify-content: center;
    width: 50%;
    height: 50%;
}

body {
    background-color: #243119;
}

.content2 {
    background-color: #629460;
    padding-top: 16px;
}

.content2 p {
    color: beige;
}

.boxes {
    display: flex;
    padding: 0 256px;
    text-align: center;
    justify-content: center;
}

.box2 {
    width: 200px;
    height: 200px;
    margin: 8px;
    border: 4px solid red;
    border-radius: 25px;
    background-color: #3F261D;
}


/* URL formatting */
a:link, a:active {
    text-decoration: none;
    color: white;
}

a:visited {
    color: darkgrey;
}

a:hover {
    color: red;
}